* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 30;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navbar-links .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fcf7f8;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffc30f;
}

.my-banner {
    font-family: 'Anton', sans-serif;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    color: #fcf7f8;
}

.my-banner .links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.my-banner .links .links-contacts {
    margin-right: 0rem;
}

.my-banner .links div {
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
    transition: transform 0.5s ease;
}

.my-banner .links div:hover {
    background-color: #ffc30f;
    border-radius: 50%;
    transform: translateY(-10px);
}

.my-banner h2 {
    font-size: clamp(0.2rem, 0.2rem + 4vw, 2rem);
    padding: 0;
    margin: 0;
}

.my-banner h1 {
    font-size: clamp(2rem, 1rem + 8vw, 6rem);
    margin: 0px !important;
}

.my-banner h4 {
    font-size: clamp(0.1rem, 0.1rem + 3vw, 1.2rem);
    text-align: end;
}

#role {
    font-size: clamp(3rem, 2rem + 10vw, 14rem);
    padding: 0;
}


#about-me {
    min-height: 50vh;
    padding: 0 1rem;
    background-color: #f9f5ff;
}

#about-me>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 0;
    margin: 0 auto;
}

#about-me #my-photo {
    border-radius: .5rem;
}

.titulo-secao {
    color: #ffc30f;
    font-family: 'Anton', sans-serif;
    font-size: clamp(1rem, 1rem + 6vw, 3rem);
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.tecnologias {
    background-color: #f9f5ff;
}

.tecnologias>div {
    justify-content: unset;
}

.tecnologias .Card {
    height: 250px;
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #d8d8d8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    cursor: pointer;
}

.tecnologias .Card>img {
    width: 156px;
}

.tecnologias .Card:hover {
    transform: translateY(-20px);
}

.projects .Container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    column-gap: 4rem;
    margin-bottom: 2rem;
}

.projects .card {
    max-width: 350px;
    border: 1px solid #0d6efd;

    font-family: 'Roboto', sans-serif;
}

/* Phone Frame */
.phone-frame {
    position: absolute;
    right: -1rem;
    right: 0;
    bottom: 0;
    transform: translateY(33.33%);
    width: 50%;
    max-width: 15rem;
    z-index: 10;
}

/* Classes */
.relative {
    position: relative;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.md-w-3-4 {
    width: 75%;
}

.bg-gray-800 {
    background-color: #1f2937;
}

.rounded-2-5rem {
    border-radius: 2.5rem;
}

.p-4 {
    padding: 1rem;
}

.shadow-xl {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.rounded-2rem {
    border-radius: 2rem;
}

.overflow-hidden {
    overflow: hidden;
}

.bg-white {
    background-color: white;
}

.aspect-4-3 {
    aspect-ratio: 4 / 3;
}

.object-cover {
    object-fit: cover;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.p-3 {
    padding: 0.75rem;
}

.transform {
    transform: rotate(12deg);
}

.aspect-9-19-5 {
    aspect-ratio: 9 / 19.5;
}

.text-center {
    text-align: center;
}

.max-w-lg {
    max-width: 32rem;
}

.text-2xl {
    font-size: 1.5rem;
    font-weight: bold;
}

.mt-8 {
    margin-top: 2rem;
}
.mt-24 {
    margin-top: 6rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.mb-6 {
    margin-bottom: 1.5rem;
}

.text-gray-600 {
    color: #4b5563;
}


.bg-blue-600 {
    background-color: #2563eb;
}

.bg-blue-600:hover {
    background-color: #1e40af;
}

.w-4 {
    width: 1rem;
}

.h-4 {
    height: 1rem;
}

.mr-2 {
    margin-right: 0.5rem;
}


@media (min-width: 1024px) {
    #about-me .text {
        max-width: 50vw;
    }

    .projects .Container {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1232px) {
    .tecnologias .Card {
        height: 300px;
    }

    .tecnologias .Card>img {
        width: 200px;
    }
}

@media (min-width: 1440px) {
    .my-banner .links {
        gap: 3rem;
    }

    .tecnologias .Card {
        width: 300px;
        height: 400px;
    }

    .tecnologias .Card>img {
        width: 256px;
    }
}