@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navbar-links .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #fcf7f8;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #ffc30f;
}

.my-banner {
    font-family: 'Anton', sans-serif;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    color: #fcf7f8;
}

.my-banner .links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.my-banner .links div {
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
    transition: transform 0.5s ease;
}

.my-banner .links div:hover {
    background-color: #ffc30f;
    border-radius: 50%;
    transform: translateY(-10px);
}

.my-banner h2 {
    font-size: clamp(0.2rem, 0.2rem + 4vw, 2rem);
    padding: 0;
    margin: 0;
}

.my-banner h1 {
    font-size: clamp(2rem, 1rem + 8vw, 6rem);
    margin: 0px !important;
}

.my-banner h4 {
    font-size: clamp(0.1rem, 0.1rem + 3vw, 1.2rem);
    text-align: end;
}

#role {
    font-size: clamp(3rem, 2rem + 10vw, 14rem);
    padding: 0;
}


#about-me {
    min-height: 50vh;
    padding: 0 1rem;

    background-color: #f9f5ff;
}

#about-me > div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    max-width: 1360px;
    padding: 1rem 0;
    margin: 0 auto;
}

#about-me #my-photo {
    border-radius: .5rem;
}

.titulo-secao {
    color: #ffc30f;

    font-family: 'Anton', sans-serif;
    font-size: clamp(1rem, 1rem + 6vw, 3rem);
    text-align: center;
    padding-top: 5rem;
}

.tecnologias {
    background-color: #f9f5ff;
}

.tecnologias > div {
    justify-content: center;
}

.tecnologias .Card {
    /* width: 100px; */
    height: 250px;
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #d8d8d8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    cursor: pointer;
}
.tecnologias .Card > img {
    width: 156px;
}

.tecnologias .Card:hover {
    transform: translateY(-20px);
}

.projects .Container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
}

.projects .card {
    max-width: 350px;
    border: 1px solid #0d6efd;

    font-family: 'Roboto', sans-serif;
}


@media (min-width: 1024px) {
    .tecnologias .Card {
        width: 300px;
        height: 400px;
    }
    .tecnologias .Card > img {
        width: 256px;
    }
    .projects .Container {
        width: 90%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 1440px) {
    .projects .Container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 1375px) {
    .my-banner .links {
        gap: 0.5rem;
    }

    .my-banner .links .links-contacts {
        margin-right: 0rem;
    }

    .tecnologias > div {
        justify-content: unset;
    }

    #about-me > div {
        flex-wrap: wrap;
    }
}