* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #121212;
    height: 10vh;
}

.profile-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #121212;
    padding: 1rem;
    /* border: 1px solid red; */
}

.profile-info #resumo {
    color: #fff;
}

#resumo .links-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 200px;
    margin-top: 2rem;
    padding: 0.5rem;
    border: 1px solid #2196f3;
    color: #fff;
    text-decoration: none;
    border-radius: .5rem;
    transition: transform 0.5s;
}

.links-contacts:hover {
    background-color: #2196f3;
    transform: translateY(-5px);
}

.profile-info #foto {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: 5px solid #2196f3;
    margin-bottom: 3rem;
}

.tecnologias {
    background-color: #121212;
    /* width: 100%; */
    /* height: 100vh; */
}

.titulo-secao {
    color: #fff;
    text-align: center;
    padding-top: 5rem;
}

.tecnologias .card {
    width: 300px;
    height: 400px;
    margin: 2rem 0 5rem 0;
    border-radius: .5rem;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    cursor: pointer;
}

.tecnologias .card:hover {
    transform: translateY(-20px);
}

.projects {
    background-color: #121212;
}

.projects .container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects .card {
    border: 2px solid blue;
}

@media (max-width: 600px) {
    .tecnologias .container {
        width: 100%;
    }
    .projects .container {
        width: 100%;
    }
}